{% extends 'student/base.html' %}

{% block page_content %}

  <!-- top tiles -->
  <div class="row tile_count" >
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count" style="text-align:center">
      <span class="count_top"><i class="fa fa-book"></i> Total Books</span>
      <div class="count green">{{ books }}</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count" style="text-align:center">
      <span class="count_top"><i class="fa fa-user"></i> Books Issued</span>
      <div class="count green">{{ bookIssues }}</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count" style="text-align:center">
      <span class="count_top"><i class="fa fa-user"></i> Journals</span>
      <div class="count green">2,500</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count" style="text-align:center">
      <span class="count_top"><i class="fa fa-user"></i> Comics</span>
      <div class="count green">4,567</div>
    </div>

  </div>


  <div class="container">
      <div class="row" >
                <!-- Start to do list -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Recent Issues</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="">
                <ul class="to_do">
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Recent Additions</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="">
                <ul class="to_do">
                 <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px">- Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                  <li>
                    <p>
                        <em><strong style="font-size: 1.2em; margin-left: 10px">Discrete Mathematics</strong></em><br/>
                        <small style="margin-left: 30px"> - Kennedy</small>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}