{% extends 'student/base.html' %}

{% block page_content %}

  <!-- top tiles -->
  <div class="row tile_count" >
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count" style="text-align:center">
      <span class="count_top"><i class="fa fa-book"></i> Total Books</span>
      <div class="count green">2500</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count" style="text-align:center">
      <span class="count_top"><i class="fa fa-user"></i> Books Issued</span>
      <div class="count green">1235</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count" style="text-align:center">
      <span class="count_top"><i class="fa fa-user"></i> Journals</span>
      <div class="count green">2,500</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count" style="text-align:center">
      <span class="count_top"><i class="fa fa-user"></i> Comics</span>
      <div class="count green">4,567</div>
    </div>

  </div>

{% endblock %}