{% extends 'student/base.html' %}

{% block page_content %}

    
    {% if second_time %}

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">

                            <div class="x_title">
               
                                <h2>Issue a Book </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>
                                </ul>
                                <div class="clearfix"></div>
               
                            </div>
               
                            {% if error_message %}

                                <div class=" col-md-6 col-sm-6 col-xs-12 col-md-offset-6 red ">
                                    <strong> * &nbsp; {{ error_message }}</strong>
                                </div>

                            {% endif %}


                            <div class="x_content">
                        
                                <div class="right text-center">
                                    <img src="http://images.amazon.com/images/P/{{ isbn }}.01.20TRZZZZ.jpg" alt="Cover Image" class="img-responsive">
                                </div>

                                
                                <br />
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'issue' %}" method="post" id="issue">
                                        
                                    {% csrf_token %}
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-5 col-sm-5 col-xs-12" for="student_rollno">Student Roll No: <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12" >
                                            {{ form.student_rollno }}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-5 col-sm-5 col-xs-12" for="title">Book title: <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form.title }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-5 col-sm-5 col-xs-12" for="author">Author: <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form.author }}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-5 col-sm-5 col-xs-12" for="isbn">ISBN No: <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form.isbn }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-5 col-sm-5 col-xs-12" for="accn">Accn. No: <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form.accn }}
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                                          <button type="submit" class="btn btn-primary">Issue</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                     </div>
                </div>

            </td>
    
        </tr></table>

    

    {% else %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                    <div class="x_title">
       
                        <h2>Issue a Book </h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
       
                    </div>
       
                    {% if error_message %}

                        <div class=" col-md-6 col-sm-6 col-xs-12 col-md-offset-6 red ">
                            <strong> * &nbsp; {{ error_message }}</strong>
                        </div>

                    {% endif %}

                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'issue' %}" method="post" id="issue">
                                
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-5 col-sm-5 col-xs-12" for="student_rollno">Student Roll No: 
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12" >
                                    {{ form.student_rollno }}
                                </div>
                            </div>
                            
                            <div class="form-group">
                                
                                <label class="control-label col-md-5 col-sm-5 col-xs-12" for="accn">Accn. No of Book: 
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="ui-widget">
                                        {{ form.accn }}
                                    </div>
                                </div>

                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                                    <button type="submit" class="btn btn-primary">Go</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
             </div>
        </div>
      
    {% endif %}


{% endblock %}