{% extends 'student/base.html' %}

{% block page_content %}


    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><strong>team S</strong><sup>3</sup></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-12 col-sm-3 col-xs-12 profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view" src="/static/images/iiits_logo.png" alt="Avatar" title="Change the avatar">
                </div>
              </div>
              <h3>SAINATH BANURU</h3>

              <ul class="list-unstyled user_data">
                <li><i class="fa fa-book user-profile-icon"></i> UG - 4
                </li>

                <li>
                  <i class="fa fa-mobile-phone user-profile-icon"></i> 7842453414
                </li>

                <li class="m-top-xs">
                  <i class="fa fa-external-link user-profile-icon"></i>
                  <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                </li>
              </ul>

              <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
              <br />



            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><strong>team S</strong><sup>3</sup></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-12 col-sm-3 col-xs-12 profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view" src="/static/images/iiits_logo.png" alt="Avatar" title="Change the avatar">
                </div>
              </div>
              <h3>SATYA PRASANTH</h3>

              <ul class="list-unstyled user_data">
                <li><i class="fa fa-book user-profile-icon"></i> UG - 4
                </li>

                <li>
                  <i class="fa fa-mobile user-profile-icon"></i> 7842453414
                </li>

                <li class="m-top-xs">
                  <i class="fa fa-external-link user-profile-icon"></i>
                  <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                </li>
              </ul>

              <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
              <br />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><strong>team S</strong><sup>3</sup></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-12 col-sm-3 col-xs-12 profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view" src="/static/images/iiits_logo.png" alt="Avatar" title="Change the avatar">
                </div>
              </div>
              <h3>SANDEEP NAGA VARMA</h3>

              <ul class="list-unstyled user_data">
                <li><i class="fa fa-book user-profile-icon"></i> UG - 4
                </li>

                <li>
                  <i class="fa fa-mobile user-profile-icon"></i> 7842453414
                </li>

                <li class="m-top-xs">
                  <i class="fa fa-external-link user-profile-icon"></i>
                  <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                </li>
              </ul>

              <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
              <br />



            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}